:root {
  --title-height: 10vh;
  --title-animation-diff: 20px;
  --title-animation-time: 1s
}

.App {
  text-align: center;
}

.title-flip-down {
  animation: TitleFlipDown var(--title-animation-time) linear forwards;
  pointer-events: none;
}

.title-move-down {
  animation: TitleMoveDown var(--title-animation-time) linear forwards;
  pointer-events: none;
}

.title-no-anim {
  transform: translate(0, calc((-1)*var(--title-animation-diff)));
}

.no-pad {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  display: inline-block;
}

.title{
  font-size: var(--title-height);
}

.App-header {
  background-color: #00b68e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes TitleFlipDown {
  from {
    -webkit-transform: perspective(350px) rotateX(180deg);
    -o-transform: perspective(350px) rotateX(180deg);
    transform: perspective(350px) rotateX(180deg);
    -webkit-transition:0.2s linear 0s;
    -o-transition:0.2s linear 0s;
    transition:0.2s linear 0s;
  }
  to {
  -webkit-transform: perspective(500px) rotateX(0deg) translate(0, var(--title-animation-diff));
  -o-transform: perspective(500px) rotateX(0deg) translate(0, var(--title-animation-diff));
  transform: perspective(500px) rotateX(0deg) translate(0, var(--title-animation-diff));
    
  }
}

@keyframes TitleMoveDown {
  from {
    -webkit-transform: translate(0, calc((-1)*var(--title-animation-diff)));
    -o-transform: translate(0, calc((-1)*var(--title-animation-diff)));
    transform: translate(0, calc((-1)*var(--title-animation-diff)));
    -webkit-transition:0.2s linear 0s;
    -o-transition:0.2s linear 0s;
    transition:0.2s linear 0s;
  }
  to {
  -webkit-transform: translate(0, var(--title-animation-diff));
  -o-transform: translate(0, var(--title-animation-diff));
  transform: translate(0, var(--title-animation-diff));
    
  }
}
